<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4>Lupa password</h4>
  <p>
    Pilih menu "forgot password" di login page untuk menyetel ulang kata sandi Anda. Anda akan menerima email dengan tautan unik
    yang dapat Anda gunakan untuk membuat kata sandi baru. Berhati-hatilah untuk tidak berbagi kata sandi dengan orang lain.
  </p>
</div>
