<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4>Saya tidak bisa melakukan pemesanan di outlet tertentu</h4>
  <ol style="padding-left: 15px;">
    <li>Kemungkinan outlet sedang dalam keadaan offline.</li>
    <li>Kemungkinan koneksi internet sedang bermasalah.</li>
  </ol>
</div>
