<h3>Term of Service</h3><br>
<p>Last updated on <b>August 16, 2017</b></p>
<p>
  Important – please read these terms carefully. By using the Service (as defined below), you agree that you have read, understood,
  accepted and agreed with the Terms of Use. You further agree to the representations made by yourself below. If you do not
  agree to or fall within the Terms of Use of the Service and wish to discontinue using the Service, please do not continue
  using the Application (as defined below) or the Service.
</p>

<p>
  The Terms of Use stated herein (collectively, the “Terms of Use” or this “Agreement”) constitute a legal agreement between
  you and PT. Piri Solusi Indonesia (the “Company”). In order to use the Service you must agree to the Terms of Use that
  are set out below. By using the mobile application supplied to you by the Company (the “Application”), and downloading,
  installing or using any associated software supplied by the Company (“the Software”) which overall purpose is to enable
  persons seeking orders to certain destinations to be matched with third party transportation providers, drivers and vehicle
  operators (collectively, the “Service”), you hereby expressly acknowledge and agree to be bound by the Terms of Use, and
  any future amendments and additions to the Terms of Use as published from time to time at http://www.piri.io or through
  the Application.
</p>

<p>
  The Company reserves the right to modify, vary and change the Terms of Use or its policies relating to the Service at any
  time as it deems fit. Such modifications, variations and or changes to the Terms of Use or its policies relating to the
  Service shall be effective upon the posting of an updated version at http://www.piri.io. You agree that it shall be your
  responsibility to review the Terms of Use regularly and also the Terms of Use applicable to any country where you use the
  Service which may differ from the country where you registered for the Application (the “Alternate Country”) whereupon
  the continued use of the Service after any such changes, whether or not reviewed by you, shall constitute your consent
  and acceptance to such changes. You further agree that usage of the Service in the Alternate Country shall be subject to
  the Terms of Use prevailing for the Alternate Country which can be found at http://www.piri.io.
</p>

<p>
  THE COMPANY IS A TECHNOLOGY COMPANY THAT DOES NOT PROVIDE FOOD SERVICE OR DELIVERY SERVICES AND THE COMPANY IS NOT A FOOD
  SERVICE PROVIDER. IT IS UP TO THE THIRD PARTY FOOD SERVICE PROVIDERS TO OFFER FOOD SERVICES TO YOU AND IT IS UP TO YOU
  TO ACCEPT SUCH FOOD SERVICES. THE SERVICE OF THE COMPANY IS TO LINK YOU WITH SUCH THIRD PARTY FOOD SERVICE PROVIDERS, BUT
  DOES NOT NOR IS IT INTENDED TO PROVIDE SERVICES OR ANY ACT THAT CAN BE CONSTRUED IN ANY WAY AS AN ACT OF A FOOD SERVICE
  PROVIDER. THE COMPANY IS NOT RESPONSIBLE NOR LIABLE FOR THE ACTS AND/OR OMISSIONS OF ANY THIRD PARTY FOOD SERVICE PROVIDER
  AND/OR ANY FOOD SERVICE PROVIDED TO YOU.
</p>

<h5>Representations and Warranties </h5>
<p>
  By using the Service, you expressly represent and warrant that you are legally entitled to accept and agree to the Terms
  of Use and that you are at least eighteen (18) years old. Without limiting the generality of the foregoing, the Service
  is not available to persons under the age of eighteen (18) or such persons that are forbidden for any reason whatsoever
  to enter into a contractual relationship. By using the Service, you further represent and warrant that you have the right,
  authority and capacity to use the Service and to abide by the Terms of Use. You further confirm that all the information
  which you provide shall be true and accurate. Your use of the Service is for your own sole, personal use. You undertake
  not to authorize others to use your identity or user status, and you may not assign or otherwise transfer your user account
  to any other person or entity. When using the Service, you agree to comply with all applicable laws whether in your home
  nation or otherwise in the country, state and city in which you are present while using the Service. You may only access
  the Service using authorized means. It is your responsibility to check and ensure that you have downloaded the correct
  Software for your device. The Company is not liable if you do not have a compatible device or if you have downloaded the
  wrong version of the Software to your device. The Company reserves the right not to permit you to use the Service should
  you use the Application and/or the Software with an incompatible or unauthorized device or for purposes other than which
  the Software and/or the Application is intended to be used.

</p>

<div class="csso">
  By using the Software or the Application, you agree that:
  <ul>
    <li>You will only use the Service for lawful purposes;</li>
    <li>You will only use the Service for the purpose for which it is intended to be used;</li>
    <li>You will not use the Application for sending or storing any unlawful material or for fraudulent purposes;</li>
    <li>You will not use the Application and/or the Software to cause nuisance, annoyance, inconvenience or make fake bookings;</li>
    <li>You will not use the Service, the Application and/or the Software for purposes other than obtaining the Service;</li>
    <li>You shall not contact the third party transportation provider for purposes other than the Service;</li>
    <li>You will not impair the proper operation of the network;</li>
    <li>You shall not intentionally or unintentionally cause or attempt to cause damage to the third party transportation provider;</li>
    <li>You will not try to harm the Service, the Application and/or the Software in any way whatsoever;</li>
    <li>You will not copy, or distribute the Software or other content without written permission from the Company;</li>
    <li>You will only use the Software and/or the Application for your own use and will not resell it to a third party;</li>
    <li>You will keep secure and confidential your account password or any identification we provide you which allows access
      to the Service;</li>
    <li>You will provide the Company with proof of identity as it may reasonably request or require;</li>
    <li>You acknowledge and agree that only one (1) account can be registered on one device;</li>
    <li>You agree to provide accurate, current and complete information as required for the Service and undertake the responsibility
      to maintain and update your information in a timely manner to keep it accurate, current and complete at all times during
      the term of this Agreement. You agree that the Company may rely on your information as accurate, current and complete.
      You acknowledge that if your information is untrue, inaccurate, not current or incomplete in any respect, the Company
      has the right but not the obligation to terminate this Agreement and your use of the Service at any time with or without
      notice;
    </li>
    <li>You will only use an access point or data account which you are authorized to use;</li>
    <li>You shall not employ any means to defraud the Company or enrich yourself, through any means, whether fraudulent or otherwise,
      through any event, promotion or campaign launched by the Company to encourage new subscription or usage of the Service
      by new or existing passengers;</li>
    <li>You are aware that when requesting orders by SMS or use of the Service, standard telecommunication charges will apply;</li>
    <li>You shall not impair or circumvent the proper operation of the network which the Service operates on;</li>
    <li>You agree that the Service is provided on a reasonable effort basis; and</li>
    <li>You agree that your use of the Service will be subject to the Company’s Privacy Policy as may be amended from time to
      time.z
    </li>
    You agree to assume full responsibility and liability for all loss or damage suffered by yourself, the third party service
    provider, the Company or any third party as a result of any breach of the Terms of Use.
  </ul>
</div>

<div class="csso">
  <h5>Payment</h5>
  <ul>
    <li>You may choose to pay for the order you place in the app by PiriPay and where available, by credit card and or debit
      card (“Card”).</li>
    <li>In the event that you choose to pay for the for the order by Card, you will need to register a valid Card which belongs
      to you in accordance with the instructions within the Application.</li>
    <li>If the Card belongs to another person, such as your parents, you hereby warrant and agree that you have obtained their
      permission to use the Card for the payment of the orders.</li>
    <li>You agree that we may verify and authorize your Card details when you first register the Card with us as well as when
      you use the Service.</li>
    <li>You agree that we may issue a reasonable authorization hold, which is not an actual charge against your Card, in order
      to verify your payment method via your Card. The hold may appear in your statement as “pending”. The authorization
      hold is issued as a preventive measure against any unauthorized or fraudulent usage of your Card.</li>
    <li>In the event your payment by your Card is processed overseas, you will be liable for any additional charges in relation
      thereto.
    </li>
    <li>The Company has the right to suspend the processing of any transaction where it reasonably believes that the transaction
      may be fraudulent, illegal or involves any criminal activity or where the Company reasonably believes you to be in
      breach of the Terms of Use.</li>
    <li>You agree that you will cooperate in relation to any financial crime screening that is required and to assist the Company
      in complying with any prevailing laws or regulations in place.</li>
    <li>You shall be responsible to resolve any disputes with your Card company on your own.</li>
  </ul>
</div>

<div class="csso">
  <h5>PiriPay</h5>
  <ul>
    <li>You may purchase credits (“PiriPay”) which may be used to pay for the order. The maximum amount of PiriPay that you can
      hold at any time is IDR1.000.000.</li>
    <li>You may choose to purchase PiriPay through any of the methods as may be made available in the Application from time to
      time. Selecting a particular payment method means you are agreeing to the terms of service of the Company’s processing
      partners and your financial institution. You will bear all fees that may be charged by such processing partners and/or
      your financial institution (if any) for the payment method you have selected.</li>
    <li>The Company may at its sole and absolute discretion reject your request to purchase PiriPay for any reason whatsoever,
      including without limitation, where your proposed PiriPay purchase:</li>
  </ul>
</div>

<div class="csso">
  (a) would cause the aggregate amount of stored value held by the Company, directly or indirectly, alone or together with
  any person over whom the Company has control or influence, to exceed any value permitted under the prevailing laws and
  regulations; or<br><br> (b) would cause the amount of PiriPay held by you to equal IDR1,000,001 or more.

  <ul>
    <li>The PiriPay will only be valid for one (1) year from the date of your last purchase or spend, whichever later. The expiry
      date set out in the Application shall serve as conclusive evidence of the expiry date of your PiriPay. The Company
      shall have the right to deal with the expired PiriPay in such manner as it deems fit in its absolute discretion. After
      the expiry of your PiriPay, you hereby agree that you will have no claim whatsoever against the Company. You hereby
      agree that you will have no claim whatsoever against the Company for any expired PiriPay.</li>
    <li>The PiriPay are not redeemable for cash nor are they refundable under any circumstances. They cannot be resold, exchanged
      or transferred for value under any circumstances. PiriPay shall not be regarded, construed, or used as valuable or
      exchangeable instruments under any circumstances.</li>
    <li>You will not receive interest or other earnings on your PiriPay. The Company may receive interest on amounts that the
      Company holds on your behalf. You agree to assign your rights to the Company for any interest derived from your PiriPay.</li>
    <li>You should ensure that you have sufficient PiriPay to pay for the order. If you have insufficient credit balance to pay
      for the orders, you may purchase additional PiriPay so that you may complete your payment for the orders.</li>
    <li>You may check your PiriPay balance in the Application. PiriPay balance set out in the Application shall serve as a conclusive
      evidence of your PiriPay balance.</li>
    <li>As credit purchase may involve credit card transactions through a financial institution, in the event of any error in
      such transaction which results in chargebacks from the financial institution, the Company reserves the right to clawback
      the credits (up to the disputed amount) from your PiriPay or by any other way it deems fit in its sole discretion.</li>
    <li>The Company has the right to forfeit your PiriPay where it reasonably believes that the credit purchase may be fraudulent,
      illegal or involves any criminal activity or where the Company reasonably believes you to be in breach of the Terms
      of Use.</li>
  </ul>
</div>

<h5>Taxes</h5>
<p>
  You agree that this Agreement shall be subject to all prevailing statutory taxes, duties, fees, charges and/or costs, however
  denominated, as may be in force and in connection with any future taxes that may be introduced at any point of time. You
  further agree to use your best efforts to do everything necessary and required by the relevant laws to enable, assist and/or
  defend the Company to claim or verify any input tax credit, set off, rebate or refund in respect of any taxes paid or payable
  in connection with the Service supplied under this Agreement.
</p>

<h5>License Grant & Restrictions</h5>
<p>
  The Company and its licensors, where applicable, hereby grants you a revocable, non-exclusive, non- transferable, non-assignable,
  personal, limited license to use the Application and/or the Software, solely for your own personal, non-commercial purposes,
  subject to the Terms of Use herein. All rights not expressly granted to you are reserved by the Company and its licensors.
</p>
<p>
  You shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make
  available to any third party the Application and/or the Software in any way; (ii) modify or make derivative works based
  on the Application and/or the Software; (iii) create internet “links” to the Application or “frame” or “mirror” the Software
  on any other server or wireless or internet-based device; (iv) reverse engineer or access the Software in order to (a)
  build a competitive product or service, (b) build a product using similar ideas, features, functions or graphics of the
  Application and/or the Software, or (c) copy any ideas, features, functions or graphics of the Application and/or the Software,
  (v) launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants,
  web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens
  or hinders the operation and/or performance of the Application and/or the Software, (vi) use any robot, spider, site search/retrieval
  application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or
  circumvent the navigational structure or presentation of the Service or its contents; (vii) post, distribute or reproduce
  in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of
  the owner of such proprietary rights, (viii) remove any copyright, trademark or other proprietary rights notices contained
  in the Service.
</p>
<p>
  You may use the Software and/or the Application only for your personal, non-commercial purposes and shall not use the Software
  and/or the Application to: (i) send spam or otherwise duplicative or unsolicited messages; (ii) send or store infringing,
  obscene, threatening, libelous, or otherwise unlawful or tortious material, including but not limited to materials harmful
  to children or violative of third party privacy rights; (iii) send material containing software viruses, worms, trojan
  horses or other harmful computer code, files, scripts, agents or programs; (iv) interfere with or disrupt the integrity
  or performance of the Software and/or the Application or the data contained therein; (v) attempt to gain unauthorized access
  to the Software and/or the Application or its related systems or networks; or (vi) Impersonate any person or entity or
  otherwise misrepresent your affiliation with a person or entity (vii) to abstain from any conduct that could possibly damage
  the Company’s reputation or amount to being disreputable.
</p>

<h5>Intellectual Property Ownership</h5>
<p>The Company and its licensors, where applicable, shall own all right, title and interest, including all related intellectual
  property rights, in and to the Software and/or the Application and by extension, the Service and any suggestions, ideas,
  enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the
  Service. The Terms of Use do not constitute a sale agreement and do not convey to you any rights of ownership in or related
  to the Service, the Software and/or the Application, or any intellectual property rights owned by the Company and/or its
  licensors. The Company’s name, the Company’s logo, the Service, the Software and/or the Application and the third party
  transportation providers’ logos and the product names associated with the Software and/or the Application are trademarks
  of the Company or third parties, and no right or license is granted to use them. For the avoidance of doubt, the term the
  Software and the Application herein shall include its respective components, processes and design in its entirety.
</p>

<h5>Confidentiality</h5>
<p>
  You shall maintain in confidence all information and data relating to the Company, its services, products, business affairs,
  marketing and promotion plans or other operations and its associated companies which are disclosed to you by or on behalf
  of the Company (whether orally or in writing and whether before, on or after the date of this Agreement) or which are otherwise
  directly or indirectly acquired by you from the Company, or any of its affiliated companies, or created in the course of
  this Agreement. You shall further ensure that it, its officers, employees and agents only use such confidential information
  in order to perform the Service, and shall not without the Company’s prior written consent, disclose such information to
  any third-party nor use it for any other purpose. You shall only disclose such information to such officers, employees
  and agents as need to know it to fulfil its obligations under this Agreement.
</p>
<div class="csso">
  The above obligations of confidentiality shall not apply to the extent that you can show that the relevant information:
  <ul>
    <li>was at the time of receipt already in your possession;</li>
    <li>is, or becomes in the future, public knowledge through no fault or omission of you;</li>
    <li>was received from a third-party having the right to disclose it; or</li>
    <li>is required to be disclosed by law.</li>
  </ul>
</div>

<h5>Confidentiality</h5>
<p>You agree and consent to the Company using and processing your Personal Data for the Purposes and in the manner as identified
  hereunder.
</p>
<p>For the purposes of this Agreement, “Personal Data” means information about you, from which you are identifiable, including
  but not limited to your name, identification card number, birth certificate number, passport number, nationality, address,
  telephone number, credit or debit card details, race, gender, date of birth, email address, any information about you which
  you have provided to the Company in registration forms, application forms or any other similar forms and/or any information
  about you that has been or may be collected, stored, used and processed by the Company from time to time and includes sensitive
  personal data such as data relating to health, religious or other similar beliefs.</p>
<p>The provision of your Personal Data is voluntary. However, if you do not provide the Company your Personal Data, your request
  for the Application may be incomplete and the Company will not be able to process your Personal Data for the Purposes outlined
  below and may cause the Company to be unable to allow you to use the Service.</p>

<div class="csso">
  The Company may use and process your Personal Data for business and activities of the Company which shall include, without
  limitation the following (the “Purpose”):
  <ul>
    <li>To perform the Company’s obligations in respect of any contract entered with you;</li>
    <li>To provide you with any services pursuant to the Terms of Use herein;</li>
    <li>To process your participation in any events, promotions, activities, focus groups, research studies, contests, promotions,
      polls, surveys or any productions and to communicate with you regarding your attendance thereto;</li>
    <li>Process, manage or verify your application for the Service pursuant to the Terms of Use herein;</li>
    <li>To validate and/or process payments pursuant to the Terms of Use herein;</li>
    <li>To develop, enhance and provide what is required pursuant to the Terms of Use herein to meet your needs;
    </li>
    <li>To process any refunds, rebates and or charges pursuant to the Terms of Use herein;</li>
    <li>To facilitate or enable any checks as may be required pursuant to the Terms of Use herein;</li>
    <li>To respond to questions, comments and feedback from you;</li>
    <li>To communicate with you for any of the purposes listed herein;</li>
    <li>For internal administrative purposes, such as auditing, data analysis, database records;</li>
    <li>For purposes of detection, prevention and prosecution of crime;</li>
    <li>For the Company to comply with its obligations under law;</li>
    <li>To send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from
      the Company, its partners, advertisers and or sponsors;</li>
    <li>To notify and invite you to events or activities organised by the Company, its partners, advertisers, and or sponsors;
      and/or
    </li>
    <li>To share your Personal Data amongst the companies within the Company’s group of companies comprising the subsidiaries,
      associate companies and or jointly controlled entities of the holding company of the group (the “Group”) and with the
      Company’s and Group’s agents, third party providers, developers, advertisers, partners, event companies or sponsors
      who may communicate with you for any reasons whatsoever.</li>
  </ul>
</div>

<p>If you do not consent to the Company processing your Personal Data for any of the Purposes, please notify the Company using
  the support contact details as provided in the Application.</p>
<p>If any of the Personal Data that you have provided to us changes, for example, if you change your e- mail address, telephone
  number, payment details or if you wish to cancel your account, please update your details by sending your request to the
  support contact details as provided in the Application.</p>
<p>The Company will, to the best of its abilities, effect such changes as requested within fourteen (14) working days of receipt
  of such notice of change.</p>
<p>By submitting your information to the Company, you consent to the use of that information as set out in the form of submission
  and in the Terms of Use.</p>

<h5>Third Party Interactions</h5>
<p>During use of the Service, you may enter into correspondence with, purchase goods and/or services from, or participate in
  promotions of third party providers, advertisers or sponsors showing their goods and/or services through the Service, the
  Software and/or the Application. Any such activity, and any terms, conditions, warranties or representations associated
  with such activity, is solely between you and the applicable third-party. The Company and its licensors shall have no liability,
  obligation or responsibility for any such correspondence, purchase, transaction or promotion between you and any such third-party.
  The Group does not endorse any applications or sites on the Internet that are linked through the Service, the Application
  and/or the Software, and in no event, shall the Company, its licensors or the Group be responsible for any content, products,
  services or other materials on or available from such sites or third party providers. The Company provides the Service
  to you pursuant to the Terms of Use. You recognize, however, that certain third party providers of transportation, goods
  and/or services may require your agreement to additional or different Terms of Use prior to your use of or access to such
  goods or services, and the Company is not a party to and disclaims any and all responsibility and/or liability arising
  from such agreements between you and the third party providers.</p>

<p>The Company may rely on third party advertising and marketing supplied through the Service and other mechanisms to subsidize
  the Service and/or to earn additional revenue. By agreeing to the Terms of Use you agree to receive such advertising and
  marketing. If you do not want to receive such advertising, you should notify us in writing or in accordance with the procedure
  determined by the Company. The Company reserves the right to charge you a higher fee for or deny you use of the Service
  should you choose not to receive these advertising services. This higher fee, if applicable, will be posted on the Company’s
  website located at http://www.piri.io. You agree and allow the Company to compile and release information regarding you
  and your use of the Service on an anonymous basis as part of a customer profile or similar report or analysis. You agree
  that it is your responsibility to take all precautions in all actions and interactions with any third party transportation
  provider, other third party providers, advertisers and/or sponsors you interact with through the Service and/or advertising
  or marketing material supplied through the Service.</p>

<h5>Third Party Interactions</h5>
<p>You shall be responsible for the cost of repair for any damage to or necessary cleaning of the third party service provider’s
  vehicle as a result of your misuse of the Service or in breach of the Terms of Use herein. The Company reserves the right
  to facilitate payment for reasonable cost of such repair or cleaning on behalf of the third party service provider via
  your designated payment method or demand from you in cash, in the event a request for repair or cleaning request by the
  third party service provider has been verified by the Company.</p>


<h5>Indemnification</h5>
<p>By agreeing to the Terms of Use upon using the Service, you agree that you shall defend, indemnify and hold the Company,
  its licensors and each such party’s parent organizations, subsidiaries, affiliates, officers, directors, members, employees,
  attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including
  attorneys’ fees and costs and/or regulatory action) arising out of or in connection with: (a) your use of the Service,
  the Software and/or the Application in your dealings with the third party merchants, transportation providers, third party
  providers, partners, advertisers and/or sponsors, or (b) your violation or breach of any of the Terms of Use or any applicable
  law or regulation, whether or not referenced herein, or (c) your violation of any rights of any third party, including
  third party transportation providers arranged via the Service, or (d) your use or misuse of the Service, the Software and/or
  the Application or (e) your use or misuse of Piri Vouchers, including if you commit any fraud or misrepresent any information
  supplied.</p>

<h5>Disclaimer of Warranties</h5>
<p>
  THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY,
  ACCURACY OR COMPLETENESS OF THE SERVICE, THE APPLICATION, THE SOFTWARE AND/OR REWARDS. THE COMPANY DOES NOT REPRESENT OR
  WARRANT THAT (A) THE USE OF THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE
  OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, (B) THE SERVICE AND/OR REWARDS WILL MEET YOUR
  REQUIREMENTS OR EXPECTATIONS, (C) ANY STORED DATA WILL BE ACCURATE OR RELIABLE, (D) THE QUALITY OF ANY PRODUCTS, SERVICES,
  INFORMATION, REWARDS OR OTHER MATERIALS PURCHASED OR OBTAINED BY YOU THROUGH THE APPLICATION WILL MEET YOUR REQUIREMENTS
  OR EXPECTATIONS, (E) ERRORS OR DEFECTS IN THE APPLICATION AND/OR THE SOFTWARE WILL BE CORRECTED, OR (F) THE APPLICATION
  OR THE SERVER(S) THAT MAKE THE APPLICATION AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR (G) THE APPLICATION
  AND/OR THE SOFTWARE TRACKS YOU OR THE VEHICLE USED BY THE THIRD PARTY TRANSPORTATION PROVIDER. THE SERVICE AND REWARDS
  ARE PROVIDED TO YOU STRICTLY ON AN “AS IS” BASIS. ALL CONDITIONS, REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED,
  STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
  PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS, ARE HEREBY EXCLUDED AND DISCLAIMED TO THE HIGHEST AND MAXIMUM EXTENT.
</p>
<p>
  THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, SAFETY, TIMELINESS, QUALITY, SUITABILITY
  OR AVAILABILITY OF ANY SERVICES AND/OR REWARDS, INCLUDING BUT NOT LIMITED TO THE THIRD PARTY TRANSPORTATION OR OTHER SERVICES
  AND PRODUCTS OBTAINED BY OR FROM THIRD PARTIES THROUGH THE USE OF THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE AND/OR
  THE REDEMPTION, SUPPLY OR USE OF REWARDS. YOU ACKNOWLEDGE AND AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE
  SERVICE, AND ANY THIRD PARTY SERVICES, INCLUDING BUT NOT LIMITED TO THE THIRD PARTY TRANSPORTATION OR OTHER SERVICES AND
  PRODUCTS REMAINS SOLELY AND ABSOLUTELY WITH YOU AND YOU SHALL HAVE NO RECOURSE WHATSOEVER TO THE COMPANY.
</p>

<h5>Internet Delays</h5>
<p>THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE
  USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS INCLUDING THE DEVICE USED BY YOU OR THE THIRD PARTY TRANSPORTATION PROVIDER
  BEING FAULTY, NOT CONNECTED, OUT OF RANGE, SWITCHED OFF OR NOT FUNCTIONING. THE COMPANY IS NOT RESPONSIBLE FOR ANY DELAYS,
  DELIVERY FAILURES, DAMAGES OR LOSSES RESULTING FROM SUCH PROBLEMS.</p>

<h5>Limitation of Liability</h5>
<p>THE COMPANY SHALL NOT BE LIABLE FOR ANY INJURY TO YOUR PERSON OR LOSS OF LIFE OR PROPERTY OR DELAY OF YOUR JOURNEY FOR ANY
  REASON WHICH MAY INCLUDE BUT NOT LIMITED TO AN ACT OF GOD INCLUDING BUT NOT LIMITED TO NATURAL DISASTERS, TYPHOONS OR FLOOD,
  AN ACT OF WAR, CIVIL DISRUPTIONS OR STRIKES OR THE ANTICIPATION OF THE SAME, CRIMINAL ACTS OR OMISSIONS OF THIRD PARTIES,
  INDUSTRIAL ACTIONS, UNFORESEEABLE TRAFFIC CONDITIONS, SEIZURE UNDER LEGAL PROCESS, NATIONAL OR LOCAL DISRUPTIONS TO AIR,
  GROUND OR WATER TRANSPORTATION NETWORKS OR BREAKDOWN IN COMMUNICATION OR INFORMATION SYSTEMS.</p>
<p>THE COMPANY PROVIDES NO WARRANTY, ASSURANCE, OR PROMISE THAT ITS TECHNOLOGY, APPLICATIONS, OR CUSTOMER SERVICE WILL WORK
  AS INTENDED ON YOUR PHONE, COMPUTER, TABLET OR OTHER DEVICE.</p>
<p>THE COMPANY DOES NOT WARRANT OR GUARANTEE THE AVAILABILITY, RELIABILITY, TIMELINESS, ACCURACY, OR QUALITY OF THE DELIVERY
  SERVICES, APPLICATION OR THE THIRD PARTY TRANSPORTATION PROVIDERS.</p>
<p>THE COMPANY IS NOT LIABLE FOR ANY LOSSES, DAMAGES, CLAIMS OR COSTS INCLUDING ANY CONSEQUENTIAL, INDIRECT OR INCIDENTAL LOSSES
  OR DAMAGES TO YOUR MOBILE DEVICE OR ANY APPLICATIONS STORED THEREIN AS A RESULT OF INSTALLATION OR USE OF THE APPLICATION.</p>
<p>THE COMPANY SHALL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES, INCLUDING BUT NOT LIMITED TO ANY INJURY WHICH YOU MAY SUFFER,
  ANY DAMAGE OR LOSS TO PROPERTY OWNED BY OR IN YOUR POSSESSION, OR ANY INDIRECT LOSS AND DAMAGE, RESULTING FROM THE THIRD
  PARTY TRANSPORTATION PROVIDERS’ SERVICES, MATTERS RELATING TO THIRD PARTY TRANSPORTATION PROVIDERS, OR THE PROCESS OF ORDERS
  BY REASON OF YOU USING THE SERVICE IN YOUR ORDERS.</p>

<h5>Notice</h5>
<p>The Company may give notice by means of a general notice on the Application, electronic mail to your email address in the
  records of the Company, or by written communication sent by registered mail or pre-paid post to your address in the record
  of the Company. Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing or posting
  (if sent by registered mail or pre-paid post) or 1 hour after sending (if sent by email). You may give notice to the Company
  (such notice shall be deemed given when received by the Company) by letter sent by courier or registered mail to the Company
  using the contact details as provided in the Application.</p>

<h5>Assignment</h5>
<p>This Agreement as constituted by the Terms of Use as modified from time to time may not be assigned by you without the prior
  written approval of the Company but may be assigned without your consent by the Company. Any purported assignment by you
  in violation of this section shall be void.</p>

<h5>General</h5>
<p>This Agreement shall be governed by Indonesian law, without regard to the choice or conflicts of law provisions of any jurisdiction,
  and any disputes, actions, claims or causes of action arising out of or in connection with the Terms of Use or the Service
  shall be referred to the Indonesian National Board of Arbitration (Badan Arbitrase Nasional Indonesia or “BANI”), in accordance
  with the Rules of BANI as modified or amended from time to time (the “Rules”) by a sole arbitrator appointed by the mutual
  agreement of the parties (the “Arbitrator”). If parties are unable to agree on an arbitrator, the Arbitrator shall be appointed
  by the President of BANI in accordance with the Rules.</p>
<p>The seat and venue of the arbitration shall be Jakarta, in the English language and the fees of the Arbitrator shall be borne
  equally by the parties, provided that the Arbitrator may require that such fees be borne in such other manner as the Arbitrator
  determines is required in order for this arbitration clause to be enforceable under applicable law.</p>
<p>Each of the parties hereby agrees that in accordance with Article 60 of Law No. 30 of 1999 (“Arbitration Law”), the award
  shall be final and binding upon the parties and, consequently neither of the parties shall have any right to appeal the
  arbitration award. The parties also expressly agree to waive Article 48.1 and 73(b) of the Arbitration Law so that the
  mandate of the Arbitrator duly constituted in accordance with the terms of this Terms of Use shall remain in effect until
  a final arbitration award has been issued by the Arbitrator.</p>
<p>No joint venture, partnership, employment, or agency relationship exists between you, the Company or any third party provider
  as a result of the Terms of Use or use of the Service.</p>
<p>If any provision of the Terms of Use is held to be invalid or unenforceable, such provision shall be struck and the remaining
  provisions shall be enforced to the fullest extent under law. This shall, without limitation, also apply to the applicable
  law and jurisdiction as stipulated above.
</p>
<p>The failure of the Company to enforce any right or provision in the Terms of Use shall not constitute a waiver of such right
  or provision unless acknowledged and agreed to by the Company in writing. The Terms of Use comprises the entire agreement
  between you and the Company and supersedes all prior or contemporaneous negotiations or discussions, whether written or
  oral (if any) between the parties regarding the subject matter contained herein.</p>
<p>You hereby agree that the Company is entitled to terminate this Agreement immediately in the event that you are found to
  be in breach of any of the terms stipulated in this Agreement. For the avoidance of doubt, the termination of this Agreement
  shall not require the Company to compensate, reimburse or cover any cost incurred by you in the course of you acquiring
  services from the third party transportation provider under this Agreement. The Company and You expressly waive Article
  1266 of the Indonesian Civil Code to the extent necessary to effect termination of this Terms of Use without the need for
  a court decision.</p>
<p>The Company is a licensee of PT. PIRI SOLUSI INDONESIA (Company No. 570/24.1MP/31.71/-1.824.27/e/2017 and having its registered
  address at Komplek Harmoni Plaza Blok K No. 7 Lantai 3, Jl Suryopranoto No. 02 Kel. Petejo Utara, Kec. Gambir Kota, Jakarta
  Pusat, Indonesia) for the Application.
</p>
