<body>
  <div class=spinner >
    <div *ngIf="showSpinner">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px; color:red; margin-top:73%; margin-left:42%; z-index:99999; position:absolute"></i></div>
  </div>
  <div class="col-md-12" style="margin-left:15%; margin-right:15%;">
    <div class="row" style="text-align:center;">
      <div style="margin-top:12%; margin-bottom:5%;"><img src="assets/icon/img_logo_app.png" style="width: 45%;"></div>
      <div>
        <font style="margin-bottom:-5%; font-size:140%;">
          <label>Piri for Android</label></font>
      </div>
      <div style="margin-top:-10px; margin-bottom:10px;">
        <div style="text-align:center; color:#727272; font-size:12px;">Ver 1.0</div>
      </div>
      <div style="margin-top:10px; margin-bottom:15px; text-align:center; color:#888888; font-size:14px;">
        <div>&copy; 2017 PT. Piri Solusi Indonesia</div>
        <div>All rights reserved</div>
      </div>
      <div class="row" style="margin-top:12px; margin-bottom:12px;">
        <div class="col-xs-4" style="margin-left:21px;">
          <img (click)="openFacebook()" src="assets/icon/about/facebook.png" width="80%">
        </div>
        <div class="col-xs-4" style="margin-left: -20px;">
          <img (click)="openTweeter()" src="assets/icon/about/twitter.png" width="80%">
        </div>
        <div class="col-xs-4" style="margin-left: -20px;">
          <img (click)="openInstagram()" src="assets/icon/about/instagram.png" width="80%">
        </div>
      </div>
    </div>
  </div>
  <div id="footer" style="margin-bottom:3%;">
    <hr>
    <div (click)="termOfService();">
      <img src="assets/icon/about/ic_item-1.png" style="width: 6%; margin-right: 15px; margin-left: 15px;"> Term of Service
      <img src="assets/icon/ic_navigate_next.png" class="pull-right" style="width: 6%; margin-right:3%">
      <hr style="margin-left:60px; margin-top:5%;">
    </div>
    <div (click)="privacyPolicy();">
      <img src="assets/icon/about/ic_item-2.png" style="width: 6%; margin-right: 15px; margin-left: 15px;"> Privacy Policy
      <img src="assets/icon/ic_navigate_next.png" class="pull-right" style="width: 6%; margin-right:3%;  padding-bottom:3%">
    </div>
  </div>
</body>
