body {
  font-family: 'Roboto', sans-serif !important;
  line-height:  1.628571;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.custom-counter {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
#rcorners1[_ngcontent-c1] {
    border-radius: 44px;
    background: #73AD21;
    padding: 11px;
    width: 0px;
    height: 0px;
}
p{
    margin-bottom:0px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
}

    .image_resize {
        width:260px;
    }
    .image_resize img {
        width:60%;
    }