<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4>Saya tidak bisa masuk ke aplikasi dan melakukan login</h4>
  <ol style="padding-left: 15px;">
    <li>Pastikan Anda menggunakan update terbaru aplikasi PIRI.</li>
    <li>Cek kembali email atau password dan pastikan di isi dengan benar.</li>
    <li>Silakan coba lagi dengan salah satu akun Google atau Facebook Anda, karena mungkin Anda pernah memilih opsi ini saat
      pertama kali masuk atau melalui profil Anda.</li>
    <li>Pastikan Anda terhubung dengan internet.</li>
  </ol>
</div>
