body {
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 50px;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}


h4 {
  font-family: roboto-medium !important;
  font-size: 20px;
  color: #363845;
}

p {
  font-family: roboto-regular !important;
  font-size: 14px;
  color: #363845;
}


ol li {
  font-family: roboto-regular !important;
  font-size: 14px;
  color: #363845;
}
