<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4>Saya tidak melihat daftar outlet</h4>
  <ol style="padding-left: 15px;">
    <li>Outlet belum tersedia di area sekitar Anda.</li>
    <li>Pastikan Smartphone Anda terhubung dengan internet.</li>
    <li>Pastikan kembali GPS Smartphone Anda dalam keadaan aktif, GPS harus selalu aktif untuk mencari keberadaan outlet terdekat.</li>
  </ol>
</div>
