<table border="0" style="margin: 10px 10px 10px 10px;">
  <tr (click)="tidakMelihatDaftarOutlet()">
    <td style="width:80%" style="padding-top:10px; padding-bottom:10px;">
      <p style="margin-right:15px;">Saya tidak melihat daftar outlet </p>
    </td>
    <td style="width:5%; margin-right:0"><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr style="width:100%;">
  <tr (click)="tidakBisaPesan()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Saya tidak bisa melakukan pemesanan di outlet tertentu </p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
</table>
