<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4 style="font-size: 16px;">Apakah PiriPay bisa digabungkan dengan metode pembayaran lainnya (contoh: PiriPay + Kartu kredit)?</h4>
  <p>
    Ya. Anda bisa menggunakan PiriPay dan kartu kredit dalam satu pesanan.
  </p>
</div>
