<table border="0" style="margin: 10px 10px 10px 10px;">
  <tr (click)="tidakMasukAplikasi()">
    <td style="width:80%" style="padding-top:10px; padding-bottom:10px;">
      <p style="margin-right:15px;">Saya tidak bisa masuk ke aplikasi dan melakukan login</p>
    </td>
    <td style="width:5%; margin-right:0"><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr style="width:100%;">
  <tr (click)="lupaPassword()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Lupa password</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
  <tr (click)="updateInformasiAkun()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Update informasi akun</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
</table>
