.container {
  width: 100%;
  background-color: #e9eef1;
  margin: 0;
}

.top-content {
  font-family: roboto-medium;
  height: 50px;
  padding-top: 15px;
}

.content {
  padding-bottom: 15px;
}

.margin-font-header {
  margin-top: 8px;
}

.margin-font-child {
  margin-top: 2px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 56px;
  bottom: 88px;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #6abaff;
  left: 50%;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-panel {
  width: 46%;
  float: left;
  /*border: 1px solid #d4d4d4;*/
  border-radius: 2px;
  padding: 20px;
  /*position: relative;*/
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
  /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}


/*.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}*/


/*.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}*/

.timeline>li>.timeline-badge {
  color: #5aa3e1;
  width: 35px;
  height: 35px;
  line-height: 32px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  border: 2px solid #5aa3e1;
  background-color: white;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
  margin-bottom: 0;
}

.timeline-body>p+p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 22px;
  }
  ul.timeline>li>.timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline>li>.timeline-badge {
    left: 5px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline>li>.timeline-panel {
    float: left;
    /*margin-right: 47px;*/
    margin-top: 5px;
  }
  /*ul.timeline>li>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }*/
  /*ul.timeline>li>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }*/
}

ol,
ul {
  margin-top: -40px !important;
  margin-bottom: 10px;
}

ol,
ul {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -34px;
  margin-bottom: 0px;
}

.panel-parent>p-accordiontab>.ui-accordion-header {
  background-color: white!important;
  margin-bottom: 2px;
}

.panel-child>p-accordiontab>.ui-accordion-header {
  /*background-color: yellow!important;*/
  height: 42px !important;
}

body .ui-accordion .ui-accordion-content {
  padding: 1.25em;
  margin-top: 0;
  border: 1px solid #e9eef1;
}

html {
  background-color: #e9eef1 !important;
}
