<table border="0" style="margin: 10px 10px 10px 10px;">
  <tr (click)="akundanpengaturan()">
    <td style="width:80%" style="padding-top:10px; padding-bottom:10px;">
      <p style="margin-right:15px;">Akun dan Pengaturan</p>
    </td>
    <td style="width:5%; margin-right:0"><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr style="width:100%;">
  <tr (click)="pemesanan()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Pemesanan</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
  <tr (click)="voucherPembayaran()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Voucher dan Pembayaran</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
</table>
