<table border="0" style="margin: 10px 10px 10px 10px;">
  <tr (click)="apaPiriPay()">
    <td style="width:80%" style="padding-top:10px; padding-bottom:10px;">
      <p style="margin-right:15px;">Apa itu PiriPay?</p>
    </td>
    <td style="width:5%; margin-right:0"><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
  <tr (click)="menggunakanPiripay()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Bagaimana cara menggunakan PiriPay?</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr style="width:100%;">
  <tr (click)="mengisiPiripay()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Bagaimana cara mengisi saldo PiriPay?</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
  <tr (click)="keuntunganPiripay()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Apa keuntungan menggunakan PiriPay?</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
  <tr (click)="digabungPiripay()">
    <td style="padding-top:10px; padding-bottom:10px">
      <p style="margin-right:15px;">Apakah PiriPay bisa digabungkan dengan metode pembayaran lainnya (contoh: PiriPay + Kartu kredit)?</p>
    </td>
    <td><img src="assets/icon/ic_navigate_next.png" width="20px;"></td>
  </tr>
  <hr>
</table>
