<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4 style="font-size: 16px;">Apa itu PiriPay?</h4>
  <p>
    PiriPay adalah saldo kredit virtual yang bisa Anda gunakan untuk melakukan pembayaran semua transaksi dalam aplikasi PIRI.
  </p>
</div>
