<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4 style="font-size: 16px;">Apa keuntungan menggunakan PiriPay?</h4>
  <p>Dengan menggunakan PiriPay sebagai metode pembayaran, Anda dapat menikmati:</p>
  <ol style="padding-left: 15px;">
    <li>Anda akan mendapatkan diskon dan promo yang menarik.</li>
    <li>Transaksi keuangan Anda menjadi lebih cepat untuk mendukung transaksi pelayanan.</li>
    <li>PiriPay membuat berbagai proses transaksi keuangan Anda semakin mudah hanya dengan satu layanan.</li>
    <li>Dengan menggunakan PiriPay, transaksi non-tunai Anda diproses secara aman tanpa perlu rasa khawatir.</li>
  </ol>
</div>
