<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4 style="font-size: 16px;">Bagaimana cara menggunakan PiriPay?</h4>
  <p>Berikut ini adalah cara yang paling mudah untuk menggunakan PiriPay:</p>
  <ol style="padding-left: 15px;">
    <li>Pastikan saldo PiriPay Anda mencukupi.</li>
    <li>Lakukan pengisian pada saldo PiriPay Anda jika saldo tidak mencukupi.</li>
    <li>Pilih pembayaran menggunakan PiriPay saat melakukan order pada aplikasi PiriPay.</li>
  </ol>
</div>
