<div style="text-align:justify; margin:13px 13px 13px 13px;">
  <h4>Update Informasi akun</h4>
  <p>
    Untuk mengubah nomor telepon atau informasi lain yang terkait dengan akun Anda, pilih menu "account profil" di pojok kanan
    bawah, lalu pilih profile. Di bawah nama Anda, ketuk "edit account", pilih Profil untuk membuat perubahan pada informasi
    Anda.
  </p>
</div>
