<h3>Privacy Policy</h3>

<br>
<h5>PRIVACY NOTICE</h5>
<p>This Privacy Notice (“Notice”) describes how Piri and its respective subsidiaries, associate companies and jointly controlled
  entities (“Piri”) use your Personal Data</p>

<h5>Collection of Personal Data</h5>
<p>“Personal Data” means information about you, from which you are identifiable, including but not limited to your name, identification
  card number, birth certificate number, passport number, nationality, address, telephone number, fax number, bank details,
  credit card details, race, gender, date of birth, marital status, resident status, education background, financial background,
  personal interests, email address, your occupation, your designation in your Piri, your Piri details, the industry in which
  you work in, any information about you which you have provided to Piri in registration forms, application forms or any
  other similar forms and/or any information about you that has been or may be collected, stored, used and processed by Piri
  from time to time and includes sensitive personal data such as data relating to health, religious or other similar beliefs.</p>
<p>The provision of your Personal Data is voluntary. However if you do not provide Piri your Personal Data, Piri will not be
  able to process your Personal Data for the Purposes and Additional Purposes outlined below.</p>
<p>If you are an agent, vendor, supplier or service provider, provision of your Personal Data is mandatory and failure to provide
  your Personal Data, may be a breach of laws or regulatory requirements, and may cause Piri to be unable to engage you to
  provide services or products or issue payments to you for products or services provided.</p>
<p>In addition to the Personal Data you provide to Piri directly, Piri may collect your Personal Data from a variety of sources
  such as:
</p>
<p>Fill up application or registration forms or other similar forms; From publicly available sources such as directories, From
  Piri’s social media pages, if you follow, like or are a fan of such pages; From credit reporting agencies; When you interact
  and communicate with Piri at any events or activities; When you enter contests organized by Piri, From various entities
  or divisions under Piri; or By using Piri websites, which includes all websites operated by Piri and under the names of
  its respective brands (“Websites”). Your personal data may also be collected from cookies used on the Websites.
</p>

<h5>Purposes of Processing</h5>
<p>Piri may use and process your Personal Data for business and activities of Piri which shall include, without limitation the
  following (“Purpose”):</p>
<p>Where you are a customer of the services provided by Piri:</p>
<div class="csso">
  <ul>
    <li>to perform the Piri’s obligations in respect of any contract entered into with you;</li>
    <li>to provide you with any service you have requested;</li>
    <li>to process your subscriptions and to deliver the services to you;</li>
    <li>where you have requested to download and use the Piri or Piri App (“App”), to process your request, to deliver the App
      to you and to provide you a license for the use of the App;</li>
    <li>to process your participation in any events, activities, focus groups, research studies, contests, promotions, polls,
      surveys or any productions;</li>
    <li>to process, manage or verify your application for subscription with the Piri and to provide you the benefits offered
      to subscribers;</li>
    <li>to validate your bookings and process payments relating to any products or services you have requested;</li>
    <li>to understand and analyses our sales as well as your needs and preferences;</li>
    <li>to develop, enhance and provide products and services to meet your needs;</li>
    <li>to process exchanges or product returns;</li>
  </ul>
</div>

<p>Where you are an agent, vendor, supplier, partner, contractor or service provider:</p>
<div class="csso">
  <ul>
    <li>for the purposes of engaging you to provide services or products;</li>
    <li>
      to facilitate or enable any checks as may be required by Piri in order to engage you;
    </li>
    <li>to process payments relating to any products or services you have provided;</li>
    <li>to contact you or your Piri;</li>
  </ul>
</div>

<h5>General:</h5>
<div class="csso">
  <ul>
    <li>to respond to questions, comments and feedback from you;</li>
    <li>to communicate with you for any of the purposes listed in this Notice;</li>
    <li>for internal administrative purposes, such as auditing, data analysis, database records;</li>
    <li>for purposes of detection, prevention and prosecution of crime;</li>
    <li>for Piri to comply with its obligations under law;</li>
  </ul>
  and you agree and consent to Piri using and processing your Personal Data for the Purposes and in the manner as identified
  in this Notice.
</div>

<h5>Marketing and promotional purposes</h5>
<p>Piri may also use and process your data for other purposes such as (“Additional Purposes”): To send you alerts, newsletters,
  updates, mailers, promotional materials, special privileges, festive greetings from Piri, its partners, sponsors or advertisers;
  To notify and invite you to events or activities organized by Piri, its partners, sponsors or advertisers; To process your
  registration to participate in or attend an event or activity and to communicate with you regarding your attendance at
  the event or activity; To share your Personal Data amongst its subsidiaries, associate companies and jointly controlled
  entities as well as with its agent, vendor, supplier, partner, contractor or service provider who may communicate with
  you to market their products, services, events or promotions. by way of post, telephone call, short message service (SMS),
  by hand and/or by email.
</p>

<h5>Unsubscribe and Revocation of Consent
</h5>
<p>If you wish to unsubscribe to the processing of your Personal Data for Additional Purposes by Piri, please click on the link
  “Unsubscribe” which is embedded in the relevant email in order not to receive any email in the future.</p>
<p>If you wish to revoke the consent that Piri has obtained from you for the Purposes stipulated herein, please notify Piri
  using the contact details stated below.</p>

<h5>Transfer of Personal Data</h5>
<p>Your Personal Data may be transferred to, stored, used and processed in a jurisdiction other than your home nation or otherwise
  in the country, state and city in which you are present while using any services provided by Piri(“Alternate Country”),
  to companies under Piri which are located outside of your home nation or Alternate Country and/or where Piri’s servers
  are located outside of your home nation or Alternate Country. You understand and consent to the transfer of your Personal
  Data out of your home nation or Alternate Country as described herein.
</p>

<h5>Disclosure to Third Parties</h5>
<p>Your personal data may be transferred, accessed or disclosed to third parties for the Purposes and Additional Purposes. Further,
  Piri may engage other companies, service providers or individuals to perform functions on its behalf, and consequently
  may provide access or disclose to your Personal Data to such service providers or third parties. The third parties include,
  without limitation: Piri partners, which include parties with whom Piri collaborates with for certain events, programs
  and activities; Event management companies and event sponsors; Marketing research companies; Service providers, including,
  information technology (IT) service providers for infrastructure, software and development work; Professional advisors
  and external auditors, including legal advisors, financial advisors and consultants; Other entities within Piri ; and Governmental
  authorities to comply with statutory, regulatory and governmental requirements. Your Personal Data may also be shared in
  connection with a corporate transaction, such as a sale of a subsidiary or a division, merger, consolidation, or asset
  sale, or in the unlikely event of winding-up.
</p>

<p>Access & Correction Requests and Inquiries, Limiting the Processing of Personal Data</p>
<p>Subject to any exceptions under applicable laws of your home nation or Alternate Country, you may request for access to and/or
  request correction of your Personal Data, request to limit the processing of your Personal Data for the Additional Purposes
  and/or make any inquiries regarding your Personal Data by contacting:</p>

<p>PT. Piri Solusi Indonesia</p>
<p>Komplek Harmoni Plaza Blok K No. 7 Lantai 3,</p>
<p>Jl Suryopranoto No. 02 Kel. Petejo Utara,</p>
<p>Kec. Gambir Kota,</p>
<p> Jakarta Pusat, Indonesia</p>

<p>Subject to any laws of your home nation or Alternate Country, Piri reserves the right to impose a fee for access of your
  Personal Data in the amounts as permitted therein.</p>

<p>In respect of your right to access and/or correct your Personal Data, Piri has the right to refuse the your requests to access
  and/or make any correction to your Personal Data for the reasons permitted under law, such as where the expense of providing
  access to you is disproportionate to the risks to your or another person’s privacy.</p>

<p>If you do not wish for your Personal Data to be collected via cookies on the Websites, you may deactivate cookies by adjusting
  your internet browser settings to disable, block or deactivate cookies, by deleting your browsing history and clearing
  the cache from your internet browser.</p>

<h5>Links to Third-Party Websites</h5>
<p>The Websites may contain links to third parties’ websites. Please note that Piri Group is not responsible for the collection,
  use, maintenance, sharing, or disclosure of data and information by such third parties. If you provide information directly
  to such sites, the privacy policy and terms of service on those sites are applicable and Piri is not responsible for the
  information processing practices or privacy policies of such sites.
</p>

<h5>Personal Information from Minors and Other Individuals</h5>
<p>As a parent or legal guardian, please do not allow the minor (individuals under 18 (eighteen) years of age) under your care
  to submit Personal Data to Piri. In the event that such Personal Data is provided to Piri, you here by consent to the processing
  of the minor’s Personal Data and personally accept and agree to be bound by this Notice and take responsibility for his
  or her actions.</p>
<p>In some circumstances you may have provided personal data relating to other individuals (such as your spouse, family members
  or friends) and in such circumstances you represent and warrant that you are authorized to provide their personal data
  to Piri and you have obtained their consent for their personal data be processed and used in the manner as set forth in
  this Notice.</p>

<h5>Acknowledgement and Consent</h5>
<p>By communicating with Piri, using Piri’s services, purchasing products from Piri or by virtue of your engagement with Piri,
  you acknowledge that you have read and understood this Notice and agree and consent to the use, processing and transfer
  of your Personal Data by Piri as described in this Notice.
</p>
<p>Piri shall have the right to modify, update or amend the terms of this Notice at any time by placing the updated Notice on
  the Websites. By continuing to communicate with Piri, by continuing to use Piri’s services, purchasing products from Piri
  or by your continued engagement with Piri following the modifications, updates or amendments to this Notice, such actions
  shall signify your acceptance of such modifications, updates or amendments.
</p>
<p>In the event of any conflict between the English and other language versions, the English version shall prevail.
</p>
