/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ionicons-npm/css/ionicons.css';
@import '../node_modules/font-awesome/css/font-awesome.css';


@font-face {
  font-family: roboto-medium;
  src: url(assets/font/roboto.medium.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(assets/font/roboto.regular.ttf);
}

body .ui-accordion .ui-accordion-header {
    background-color: #ffffff;
    border: none !important;
    color: #0275d8;
    transition: background-color 0.3s;
}

body .ui-accordion .ui-accordion-header a {
    padding: .75em 1.25em .75em 2em;
    height: 57px !important;
}
/*
body .ui-accordion .ui-accordion-content {
    padding: 0px !important;
}*/

.classo .body .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #6f8190 !important;
    color: #ffffff;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #0275d8;
    color: #0275d8 !important;
}
/*
body .ui-accordion .ui-accordion-header a {
    padding: 0.75em 1.25em .75em 2em;
    margin-bottom: 4px;
}

body .ui-accordion .ui-accordion-content {
    padding: 0 !important;
}

.ui-accordion .ui-accordion-header>.fa {
    position: absolute;
    left: 21.5em !important;
    top: 50%;
    margin-top: -.5em;
}

body .ui-accordion .ui-accordion-header a {
    padding: .75em 1.25em .75em 1em !important;
}

body .ui-widget-content {
    background-color: #ffffff;
    border: none !important;
    margin-bottom: 4px;
}*/